.search{
    max-width: 600px;
    width: 100%;
    margin:30px auto;
    display: flex;
}
input{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgba(238, 247, 237, 0.87);
    font-size: 18px;
}
button{
    padding: 10px;
    width: 150px;
    border: none;
    outline: none;
    background-color: green;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}